# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# production
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode
*.swp
*.swo

# OS
Thumbs.db
ehthumbs.db

# yarn
.yarn/build-state.yml
.yarn/install-state.gz
.pnpm-store/

# 機密ファイル
Questra_企画書.md
Questra_Gamma_プレゼンプロンプト.md
